@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to the Woof-Woof Planet</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

@* @foreach (var product in Model.Products)
{
    <h2>
        @{product.Title}
    </h2>
} *@
